<h2 id='page-header'>Blog</h2>
<a class='header-link' href='/post/<%= @posts[0].slug %>'><h3 id='post-title'><%= @posts[0].title %></h3></a>
<article class='post-summary'>
  <%= @posts[0].body %>
</article>

<h2 class='section-header'>Other Posts</h2>

<% @posts[1..-1].each do |post| %>
<p>
  <a class='header-link' href='/post/<%= post.slug %>'><h3 class='post-title'><%= post.title %></h3></a>
  <%= post.created_at %>
</p>
<% end %>
