<p>Hi there, I'm <span class='vocal'>Elliot Speck</span>, alter ego <span class='vocal'>Aeoxic</span>. I'm a code crafter from Queensland, Australia working primarily with Ruby and Rust, as well as dabbling in a few other languages.</p>
<p>I currently work as a cyber-security and forensics consultant. I'm also the founder of the up and coming <a href='http://bitfiend.com/'>Bit Fiend</a>, an intelligent infrastructure-as-a-service provider.</p>
<p>I previously worked at <a href='https://clientarea.ramnode.com/aff.php?aff=204'>RamNode</a> as a virtualisation technician, and I maintain the increasingly-popular <a href='http://netchat.io/'>NetChat.IO</a> IRC network.</p>
<p>I <a href='/blog'>blog</a> sometimes. You may like some of my posts. I also have <a href='https://twitter.com/Aeoxic'>Twitter</a>, where I spend my time retweeting things I wasn't clever enough to come up with myself.</p>
