<!DOCTYPE html>
<html>
  <head>
    <title><% if @title %><%= @title %> &Xi; <% end %>Elliot Speck</title>
    <link rel='stylesheet' href='/css/core.css'>
  </head>
  <body>
    <header id='header' role='header'>
      <div class='container-fullwidth'>
        <h1 id='header-title'>Elliot Speck</h1>
        <nav id='header-navigation'>
          <a class='header-navigation-link' href='/'>Home</a>
          <a class='header-navigation-link' href='/blog'>Blog</a>
          <a class='header-navigation-link' href='/projects'>Projects</a>
        </nav>
      </div>
    </header>
    <section id='main' role='main'>
    <div class='container-fullwidth'>
      <%= yield %>
    </div>
    </section>
  </body>
</html>
