<h2 id='page-header'>Projects and Code</h2>

<h3 class='section-header'>Projects</h3>

<h4 class='subsection-header'><a href='http://netchat.io'>NetChat.IO</a></h4>
<p>The premium internet-related internet relay chat network. The leaf nodes currently run Charybdis, but moving to Mercury when it is in a capable state. Also comes with a nice <a href='http://webchat.netchat.io'>webchat</a> interface.</p>

<h4 class='subsection-header'><a href='https://takethis.link/'>Takethis.link</a></h4>
<p>A web application targeted towards people who really like to upload things via shell. Accepts text or images, and can encrypt uploads inline with DES-ECB, using a specified key.</p>

<h4 class='subsection-header'><a href='http://wowrekt.net/'>#wowrekt</a></h4>
<p>Australian vanilla gaming community running a few different game servers.</p>

<h3 class='section-header'>Code</h3>

<h4 class='subsection-header'><a href='https://bitbucket.org/Aeoxic/medium'>Medium</a></h4>
<p>Ruby gem for interacting with, and managing, Libvirt and QEMU backed virtual machines.</p>

<h4 class='subsection-header'><a href='https://bitbucket.org/Aeoxic/mercury'>Mercury</a></h4>
<p>Internet relay chat daemon written in Rust utilising the TS6 server communication protocol, making it compatible with Charybdis, Tethys, and a few others.</p>

<h4 class='subsection-header'><a href='https://bitbucket.org/Aeoxic/pandora'>Pandora</a></h4>
<p>A relatively simple file uploader written in Ruby designed to be an easy way to show everyone screenshots of your desktop and IRC logs using the same storage space.</p>
