@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url('http://themes.googleusercontent.com/static/fonts/opensans/v8/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('http://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url('http://themes.googleusercontent.com/static/fonts/opensans/v8/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff') format('woff');
}

* {
  margin: 0;
  padding: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font: 16px/150% 'Open Sans', 'Roboto', 'DejaVu Sans', 'Quicksand', 'Helvetica Neue', 'Arial', sans-serif;
  color: #2c3e50;
}

p {
  margin: 10px 0 25px;
}

li {
  margin-left: 1em;
  padding-left: 1em;
}

blockquote {
  padding-left: 20px;
  border-left: 5px solid #f39c12;
  font-style: italic;
}

a {
  color: #3498db;
  text-decoration: none;
}

  a:hover {
    color: #2980b9;
    border-bottom: 1px dotted #2980b9;
  }

#header {
  height: 100px;
  line-height: 100px;
  border-bottom: 5px solid #f39c12;
  margin-bottom: 50px;
}

  #header-title {
    display: inline;
    font-weight: 300;
  }

  #header-navigation {
    display: inline;
    float: right;
  }

    .header-navigation-link {
      margin-left: 25px;
    }

.container-fullwidth {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 25px;
}

.header-link {
  color: #2c3e50;
}

  .header-link:hover {
    color: #5b7fa4;
    border: none;
  }

/* Text Elements */

#page-header {
  margin-bottom: 25px;
  font-size: 32px;
  font-weight: 400;
}

.section-header {
  font-weight: 400;
  font-size: 26px;
}

.subsection-header {
  margin-top: 25px;
  font-weight: 300;
  font-size: 20px;
}

.vocal {
  font-weight: bold;
}

.post-date {
  color: #bdc3c7;
  margin-bottom: 0;
}
